<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>se.gu.it.DAFGU-Migration-Status</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Utilities/DAFGU Migration Status.app/Contents/MacOS/DAFGU Migration Status</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
</dict>
</plist>
